<!DOCTYPE html>
<html>
  <head>
       <img src="/static/LOGO.png" alt="profile pic1" style="width:150px;height:100px;" align="right"> </img><br>
      <title>Life Hax</title><br>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/Add_Hack_CSS.css') }}">
  </head>
  <body>

    <div id="container">
      <div id="page-header">
        <h1>Life Hax</h1>
        <h2>Add Hack</h2>
      </div>

      <form action="{{url_for('Add_Hack')}}" method="post">
      <input type="text" name="title" placeholder="Title your Hack"><br><br>
            <B>Select A Category</B> <BR>
<SELECT NAME="category">
<OPTION SELECTED> Clothes
<OPTION> Garden
<OPTION> Food
<OPTION> Makeup
<OPTION> Home Design
<OPTION> Camping
<OPTION> Other
</SELECT><br><br>
      <input type="text" name="vid_url" placeholder="Enter Video URL here"><br><br>
            <textarea name="description" placeholder="Explain your hack!"></textarea>
        
        <br>

        <input type="submit">
    
        
        
        
      </form>

      <a href="/" class="btn btn-info" role="button">Cancel</a>
    </div>

    <footer class="footer">
      
    </footer>

  </body>
</html>